body{
    background-color: #f2f2f2;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #282828;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
}

h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #282828;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
}

p{
    line-height: 1.5px;
}

.texto-apresentacao{
    margin-bottom: 100px;
}

